<% title(@project.name, "Project") %>
<h1><%= @project.name %></h1>
<% admins_only do %>
<%= link_to "Edit Project", edit_project_path(@project) %> |
<%= link_to "Delete Project", @project, method: :delete, confirm: "Are you sure?" %><br />
<% end %>
<% authorized?("create tickets", @project) do %>
  <%= link_to "New Ticket", new_project_ticket_path(@project) %>
<% end %>
<br />
<h2>Ticket</h2>
<ul id='tickets'>
<% @project.tickets.each do |ticket| %>
  <li>
    #<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
  </li>
  <% end %>
</ul>
